.mageContainer {
    justify-content: space-evenly;
    align-items: space-evenly;
    padding-top: 15vh;
    margin-bottom: 2vh;
    size: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto auto auto;
    overflow: scroll;
}

.mageCard {
    background-color: aliceblue;
    height: auto;
    width: auto;
}

/* .cardImage {
    width:fit-content;
} */