.navContainer {
    width: 100vw;
    height: 100px;
    background-image: url('../assets/fantback1.jpg');
    background-size: fill;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
}